* { box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  background-color: #eae7dd;
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

a { 
  color: #12291f; 
  text-decoration: none; 
}

  /* a { color: #12291f; text-decoration: none; }
  a:hover { color: #12291f; text-decoration: underline; text-decoration-thickness: 1px; text-underline-offset: 5px; }
  ::selection { background: #12291f; color: #efe9da; } */